body {
    height: 100vh;
    margin: 0;
}

.header-top,
.header-main {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -10px;
}

.header-top-links,
.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-top {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}

.header-top-links {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-right: 60px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.header-and-subtext {  
    flex-shrink: 0;
    width: 400px;
    
}

.header-image {
    display: flex;
    background-color: grey;
    color: #F9FAF8;
    height: 60px;
    padding: 60px;
    align-items: center;
    flex: 0 0 auto;
}

.header-signup {
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882F6;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin: 8px;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.information-list {
    list-style-type: none;
    display: flex;
    padding: 20px;
}

.information-content {
    text-align: center;
    
}


img.box {
    max-width: 80px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

.quote {
    background-color: #E5E7EB;
    padding: 75px 125px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    
}