body {
    height: 100vh;
    margin: 0;
}

.header-top,
.header-main {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -10px;
}

.header-top-links,
.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-top {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}

.header-top-links {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-right: 60px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.header-and-subtext {  
    flex-shrink: 0;
    width: 400px;
    margin: 20px;
}

.header-image {
    display: flex;
    background-color: grey;
    color: #F9FAF8;
    height: 60px;
    padding: 60px;
    align-items: center;
    flex: 0 0 auto;
}

.header-signup {
    background-color: yellow;
    display: flex;
    width: 60px;
    padding: 10px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}