body {
    height: 100vh;
    margin: 0;
}

.header-top,
.header-main {
    background-color: #1F2937;
}

.header-top-links,
.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-top {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding-left: 60px;
    justify-content: space-between;
}

.header-top-links {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-right: 60px;
}

.header-main {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}